// 
// Sections
// 

section.resume-section {
    display: flex;
    align-items: center;
    max-width: 100%;
    background-color: $theme-background;

    .resume-section-content {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    &.with-signature {
        background-image: url('../assets/img/TC-Logo.png');
        background-size: 15%;
    }

}

@media screen and (orientation: landscape) {
    section.resume-section {
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;

        .resume-section-content {
            max-width: 75rem;
        }

        &.with-signature {
            background-position: right bottom;
        }
    }
}

@media screen and (max-width: 1366px) and (orientation: landscape) {
    section.resume-section {
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;

        .resume-section-content {
            width: 100%;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);

            &.no-blur {
                backdrop-filter: blur(0);
                -webkit-backdrop-filter: blur(0);
            }
        }

        &.with-signature {
            background-position: right bottom;
        }
    }
}

@media screen and (orientation: portrait) {
    section.resume-section {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .resume-section-content {
            width: 100%;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);

            &.no-blur {
                backdrop-filter: blur(0);
                -webkit-backdrop-filter: blur(0);
            }
        }

        &.with-signature {
            background-position: right bottom;
            background-size: 35% !important;
        }
    }
}

@include media-breakpoint-up(md) {
    section.resume-section {
        min-height: 100vh;
    }
}

@include media-breakpoint-up(lg) {
    section.resume-section {
        .resume-section-content {
            padding-left: 3rem;
            padding-right: 3rem;
            padding-top: 5rem;
            padding-bottom: 5rem;
        }   
    }
}
