// 
// Global
// 

body {
    padding-top: $navbar-base-height;
    color: $theme-font-body;
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h1 {
    line-height: 1;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

.subheading {
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
}

a {
    color: $theme-nav;

    &.no-underline {
        text-decoration: none !important;
    }

    &:hover {
        color: $theme-accent;
    }
}

button {
    @extend .btn;
    @extend .btn-primary;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.75rem;
    width: auto; 
    background-color: $gray-700 !important;
    border-color: $gray-700 !important;
    border-radius: 1rem;
    color: $white !important;
    font-size: 1.0rem;
    font-weight: bold !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;

    &.navbar-toggler {
        background-color: $theme-nav !important;
        border-color: $theme-nav !important;
        margin-bottom: 0rem;
        margin-right: 0rem;

        &:focus
        &:active
        &:hover
        &.navbar-toggler-icon:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }

    &:hover {
        background-color: $primary !important;
    }
        
    &:last-child {
        margin-right: 0;
    }
}
